/* Global Layout */
body {
    background-color: #8B0055;
    font-family: 'Arial', sans-serif;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    margin: 0;
}

/* Main Container */
.Login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.loginPageThumb {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginPageThumbImage {
    width:100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Right Section - Login Form */
.loginPageForm {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 30px;
    height: 90%;
}

#remember{
    padding: 0;
    margin: 0;
    width: 20px;
}

h2 {
    color: white;
    margin-bottom: 20px;
    text-align: left;
}

/* Input Fields */
.loginPageForm input{
    width: 80%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    outline: none;
}
.loginCheckbox{
    text-align: left;
    margin-left: 0 ;
}
input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

/* Button Styling */
.login-btn {
    width: 83%;
    padding: 15px;
    margin: 10px 0;
    background: rgb(228, 25, 123);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: rgb(228, 25, 129);
}

/* Responsive Design */
@media (max-width: 768px) {
    .login-wrapper {
        flex-direction: column;
        width: 90%;
        height: auto;
    }
    .loginPageThumb, .loginPageForm {
        width: 100%;
        padding: 20px;
    }
}

.loginImageRoulette{
    width: 95%;
    height: 95%;
    border-radius: 5px;
    object-fit: cover;
    transition: opacity 2s ease-in-out;
    
}


